<!--  <div class="container mt-5">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-header"> Authentification</div>
      <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
      <div class="card-body">
        <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
          <div class="mb-3">
            <label class="form-label"> Username</label>
            <input type="text" formControlName="username" class="form-control"/>
          </div>
          <div class="mb-3">
            <label class="form-label"> Password</label>
            <input type="password" formControlName="password" class="form-control"/>
          </div>
          <button class="btn btn-primary" type="submit"> Login</button>

        </form>
      </div>
    </div>
  </div>
</div> -->
<style>
  .rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  @media (min-width: 992px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
  }
</style>

<section class="vh-50 gradient-custom">
  <div class="container py-5 h-25">
    <div class="row d-flex justify-content-center align-items-center h-80">
      <div class="col-12 col-md-8 col-lg-4 col-xl-6">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">

          <div class="card-body p-5 text-center">

            <div class="mb-md-12 mt-md-6 pb-5">
              <div class="col-lg-5 d-none d-lg-flex ">
                <img src="/src/assets/images/AnimeLogo.png" alt="AnimeLogo"
                     class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5 " />
              </div>
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>

              <p class="text-white-50 mb-5">Please enter your login and password!</p>
              <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
              <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()">
                <div class="mb-3">
                  <label class="form-label"> Username</label>
                  <input type="text" formControlName="username" class="form-control"/>
                </div>
                <div class="mb-3">
                  <label class="form-label"> Password</label>
                  <input type="password" formControlName="password" class="form-control"/>
                </div>
                <button class="btn btn-primary" type="submit"> Login</button>

              </form>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

