<div class="container">
  <ng-template #errors>
    <div class="text-danger"> {{errorMessage}}</div>
  </ng-template>
  <div class="card" *ngIf="products;" else errors>
    <div class="card-header"> Products List  </div>
    <div class="card-body">
      <form [formGroup] ="searchFormGroup" (ngSubmit)="handleSearchProducts()">
        <div class="input-group">
          <label class="input-group-text">Search : </label>
          <input type="text" class="form-control" formControlName="keyword"/>
          <button class="btn btn-info"></button>
          <i class="bi bi-search"></i>
        </div>
      </form>
       <table class="table" >
         <thead>
         <tr>
           <th>ID</th> <th>Name</th> <th>Price</th>
         </tr>
         </thead>
         <tbody>
         <tr *ngFor="let p of products">
           <td>{{p.id}} </td>
           <td>{{p.name}} </td>
           <td>{{p.price}} </td>
           <td><i *ngIf="p.promotion" class="bi bi-heart-fill text-success"> </i> </td>

           <td *ngIf="authService.hasRole('USER,ADMIN')">
            <button (click)="handleSetPromotion(p)" [ngClass]="p.promotion? 'btn-danger' : 'btn-success'   " class="btn">
              <span *ngIf="p.promotion">PromoOff</span>
              <span *ngIf="!p.promotion">PromoOn</span>
            </button>
           </td>

           <td *ngIf="authService.hasRole('USER,ADMIN')">
             <button (click)="handleDeleteProduct(p)"  class="btn btn-danger">
               <i class="bi bi-trash"></i>
             </button>
           </td>
         </tr>
         </tbody>
       </table>
    </div>
  </div>
</div>
